
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2><hr /><br />
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        width: 200px;
    }
</style>
<table>
    <tr>
        <th>Degree</th>
        <th>Year</th>
        <th>Institute</th>
    </tr>
    @foreach(var item in ViewBag.EduList) { 
        <tr>
            <th>@item.degree</th>
            <th>@item.year</th>
            <th>@item.institute</th>
        </tr>
    }
</table>

