
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2><hr /><br />
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        width: 200px;
    }
</style>
<table>
    <tr>
        <th>Degree</th>
        <th>Year</th>
        <th>Institute</th>
    </tr>
    <tr>
        <td>BSc</td>
        <td>2024</td>
        <td>AIUB</td>
    </tr>
    <tr>
        <td>HSC</td>
        <td>2020</td>
        <td>ACC</td>
    </tr>
    <tr>
        <td>SSC</td>
        <td>2018</td>
        <td>ACPS</td>
    </tr>
</table>

