@{
    ViewBag.Title = "Home Page";
}

<style>
    label {
        text-align: left;
        width: 15%;
    }

    span {
        width: 2%;
        text-align: right;
    }
</style>

<main>
    <h1>Portfolio Home</h1><hr /><br />
    <label>Name</label><span>:</span> Tazrif Yamshit Raim<br />
    <label>ID</label><span>:</span> 21-45012-2<br />
    <label>Email</label><span>:</span> tazrifraim@gmail.com<br />
    <label>Github Profile Link</label><span>:</span> <a href="https://github.com/Tazrif-Raim" target="_blank">Tazrif-Raim</a><br />

</main>