
@{
    ViewBag.Title = "Personal";
}
<style>
    label {
        text-align: left;
        width: 30%;

    }

    span {
        width: 10%;
        text-align: right;
    }
</style>


<h2>Personal</h2>
<hr />
<br />

<label>Name</label><span>:</span><br />
<label>Father's Name</label><span>:</span><br />
<label>Mother's Name</label><span>:</span><br />
<label>Address</label><span>:</span><br />
<label>Date of Birth</label><span>:</span><br />
<label>Marital Status</label><span>:</span><br />



