
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>
<hr /><br />
<ul>
    <li><b>Webtech</b>
        <ul>
            <li>Title: Into The Green</li>
            <li>
                Description:
                #about "Into The Green" Final Term Project(Partial) content ideas inspired by https://stateofgreen.com/en/
                <br />
                Key Functionalities
                <br />
                **Reporter/News and Researcher/Publication are not implemented here. Only Admin and Solution/Solution Provider are implemented.
                <br />
                User Roles: The system encompasses four distinct user roles: Admin, Solution Provider, Reporter, and Researcher, each with specific privileges and responsibilities.
                <br />
                User Registration and Login: Users can securely create accounts and log in to access their personalized dashboards.
                <br />
                Descriptive Profiles: Except for Admin, users can create and edit detailed profiles, showcasing their expertise and affiliations.
                <br />
                Content Submission: Solution Providers can submit green solutions, Reporters can contribute news articles, and Researchers can share publications, all subject to approval by Admin. Content can be edited later as well but edit will make the content unpublic and send it for admin revision.
                <br />
                Content Review and Approval: Admins review submissions, either approving them for public view or sending them back for revision with feedback. Approved solutions can again be made unpublic and sent for revision.
                <br />
                Publication of Approved Content: Once approved, green solutions, news articles, and publications are made accessible to the public, contributing to knowledge dissemination.
                <br />
                Content Viewing: Public users can browse and access published solutions, news, and publications, fostering a broader understanding of sustainable practices.
                <br />
                Admin Privileges: Admins possess the authority to delete user accounts, and only they can create additional admin accounts, maintaining control over the platform's integrity.
                <br />
                Technologies Used: HTML, CSS(nominal), JS(AJAX, JSON), PHP, MySQL
            </li>
        </ul>
    </li>
    <li><b>Computer Vision</b>
        <ul>
            <li>Title: Defense Model against Adversarial Attack on Neural Network</li>
            <li>Description: Breast Cancer image classifier was built that has defense mechanism against FGSM attack.
                <br />
                Technologies Used: Python, Tensorflow, Keras, Matplotlib, Numpy, OpenCV
            </li>
        </ul>
    </li>
    <li><b>Java</b>
        <ul>
            <li>Title: Restaurent Chain Management System</li>
            <li>
                Description: 
                <br />
                Key Features:
                <br />
                Dynamic Menu: Easily manage menu items with real-time updates.
                <br />
                Food Ordering: Seamless customer order processing and tracking.
                <br />
                Issue and Feedback: Customer feedback and issue resolution system.
                <br />
                Employee Management: Centralized database with role-based access.
                <br />
                Stock Monitoring: Real-time tracking of raw material stock levels.
                <br />
                Accounts/Finance: Record and manage financial transactions securely.
                <br />
                User Levels: Multi-level authentication for varied roles.
                <br />
                Technologies Used: Java
            </li>
        </ul>
    </li>
    <li><b>C#</b>
        <ul>
            <li>Title: Shikari Hunting Grounds</li>
            <li>
                Description:
                <br />
                A management system with complete database connectivity, CRUD operations and a robust authentication system.
                <br />
                📌Features:
                <br />
                ➡️ Registration, View, Update and Removal of entities: Hunters, Employees, Inventory and Animals.
                <br />
                ➡️ Dynamically updated Admin dashboard with statistics and overview of all entities.
                <br />
                ➡️ Dynamically updated Hunter Statistics dashboard.
                <br />
                ➡️ Ability to restore passwords with the hints provided during registration.
                <br />
                ➡️ Complete Issues (Support Ticket) system which allows the employees and hunters to communicate with the admin. Issues have randomly generated IDs and the dashboard updates automatically to notify the admin about new issues.
                <br />
                ➡️ Hunt Approval menu that fetches data from the current Inventory, Animal, Hunter and Employee databases to approve hunts and create invoices that can be saved to the local computer.
                <br />
                ➡️ Account system that keeps track of transactions and offers a way to manage business funds.\
                <br />
                Technologies Used: C#, MSSQL, WinForms 
            </li>
        </ul>
    </li>
    <li><b>Adv Web</b>
        <ul>
            <li>Title: JobDoor</li>
            <li>Description:
                <br />
            Job Seekers can search for jobs, apply for jobs, and create resumes.
                <br />
            Technologies Used: Next js, Tailwind CSS, Nest js, TypeORM, PostgreSQL
            </li>
        </ul>
    </li>
    <li><b>Data Science</b>
        <ul>
            <li>Title: Studnets' academic performance prediction ML model'</li>
            <li>Description: 
                <br />
                Implementing an ML model using naive bayes.
                <br />
                Technologies Used: R
            </li>
        </ul>
    </li>
</ul>
